.cookieBanner {
  display: grid;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30vh;
  background-color: #eee;
  color: black;
  align-items: center;
  justify-content: center;
  grid-template-columns: 3fr 1fr;
  border-top: solid 1px black;
  gap: 8px;
  z-index: 10;

  p {
    padding: 8px;
  }
  button {
    width: 70px;
    height: 30px;
    margin: 8p;
  }
}
